.small-card__content{
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-bottom: 15px;
}

.small-card__image > img{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    margin-left: 1rem;
}

.small-card__title > a{
    text-decoration: none;
}

hr{
    margin-bottom: 15px;
    border-color: #80808066;
}