*{
    background-color: #f5f5f5;
    color: #111111;
}

.container{
    max-width: 300px;
    max-height: 300px;
}

.under-card__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 15px;
}

.under-card__image > img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.under-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    color: #111111;
}

.under-card__title > a{
    text-decoration: none;
    text-align: center;
}

