
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="article_main">
        <app-big-card id="1" photoCover="https://images.unsplash.com/photo-1543785734-4b6e564642f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" cardTitle="¡De Madrid al cielo!" cardDescription="Descubra a arquitetura fascinante de Madrid de cima! Listamos opções para admirar a capital espanhola do alto, seja subindo ao topo de edifícios emblemáticos ou explorando os parques da cidade." ></app-big-card>
    </div>
    <div class="article_others">
        <app-small-card Id="2" photoCover="https://images.unsplash.com/photo-1655226734376-ba5d22f2276a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" smallCardTitle="O Primavera Sound, um dos maiores festivais de música da Europa, reune os artistas mais populares e inovadores do momento em uma experiência musical única"></app-small-card>
        <app-small-card Id="3" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" smallCardTitle="Título do Segundo Card"></app-small-card>
        <app-small-card Id="4" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" smallCardTitle="Título do Terceiro Card"></app-small-card>
    </div>
</div>
