
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="article_main">
        <app-big-card id="1" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" cardTitle="Nova notícia dinâmica" cardDescription="Entrada dinâmica de descrição... SHow de bola!!!" ></app-big-card>
    </div>
    <div class="article_others">
        <app-small-card Id="2" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" smallCardTitle="Titulo do primeiro card"></app-small-card>
        <app-small-card Id="3" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" smallCardTitle="Título do Segundo Card"></app-small-card>
        <app-small-card Id="4" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" smallCardTitle="Título do Terceiro Card"></app-small-card>
    </div>
</div>
