
.articles{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

    margin: 30px auto;
    /* width: 90vw; */
}

.article_main{
    width: 90%;
}

.under_cards{
    height: 500px;
}

app-under-card{
    background-color: #f5f5f5;
}