@media (min-width: 360px){
    .under_cards_content{
        grid-template-areas: 'card-1 card-2''card-3 card-4';
        gap: 2rem;
    }
}

@media(min-width: 768px){

    .articles{
        flex-direction: row;
        justify-content: space-between;
        
        /* margin: 30px auto; */
        width: 90%;
        gap: 2rem;
    }
    
    .article_main{
        width: 50%;
    }
    
    .article_others{
        width: 50%;
        margin-top: 0;
    }

    .under_cards_content{
        grid-template-areas: 'card-1 card-2 card-3 card-4';
        /* gap: 2rem; */
    }
}